.slick-slide.slick-active div {
  transform: scale(0.9);
}

.slick-slide.slick-center div {
  transform: scale(1.0);
  font-size: 16px;
  background: #74B1B9;
}

.slick-slide.slick-center h2 {
  color: black;
}

